.wrapper {
  display: flex;
}

.side-ber {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-ber-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-room a {
color: deepskyblue;
font-size: 10px;
text-decoration: none;
padding: 14px;
border: 1px solid lightblue;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}